:root {
    --first-font:font-family: 'Poppins', sans-serif;
    --second-font:font-family: 'Potta One', cursive; 
    --third-font:font-family: 'PT Sans', sans-serif; 
   
}
h1,h2,h3,h4,h5,h6,p,ul,ol,li{
    margin: 0;
 }

 ul ,ol,li {
     list-style-type: none;
 }
 a,a:hover{
    text-decoration: none;
 }


#primary_nav #menu ul li a{
    color: #353535;
    font-family: var(--first-font);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height:30px;
    text-transform:capitalize;
    padding:19px 20px;
    display: inline-block;
}


